[user]
  name = StopselLocke
  email = git@hilbo.de
[core]
  editor = vim
  whitespace = fix,-indent-with-no-tab,trailing-space,cr-al-eol
  excludesfile = ~/.gitignore
[color]
  ui = auto
[color "branch"]
  current = yellow bold
  local = green bold
  remote = cyan bold
[color "diff"]
  meta = yellow bold
  frag = magenta bold
  old = red bold
  new = green bold
  whitespace = red reverse
[color "status"]
  added = green bold
  changed = yellow bold
  untracked = red bold
[url "ssh://git@github.com/"]
  insteadOf = gh:
[alias]
  st = status
  co = checkout
[credential]
  helper = cache --timeout 43200
